[submodule "BioSim"]
	path = BioSim
	url = git@github.com:achubaty/mpb-biosim
	branch = master
[submodule "modules/canWind"]
	path = modules/canWind
	url = https://github.com/achubaty/canWind
[submodule "modules/mpbRedTopSpread"]
	path = modules/mpbRedTopSpread
	url = git@github.com:achubaty/mpbRedTopSpread
	branch = master
[submodule "modules/mpbRedTopGrowth"]
	path = modules/mpbRedTopGrowth
	url = git@github.com:achubaty/mpbRedTopGrowth
	branch = master
[submodule "modules/mpbPine"]
	path = modules/mpbPine
	url = git@github.com:achubaty/mpbPine
	branch = master
[submodule "modules/mpbMassAttacksData"]
	path = modules/mpbMassAttacksData
	url = git@github.com:achubaty/mpbMassAttacksData
	branch = master
[submodule "modules/mpbClimateData"]
	path = modules/mpbClimateData
	url = git@github.com:achubaty/mpbClimateData
	branch = master
[submodule "modules/mpbRandomLandscapes"]
	path = modules/mpbRandomLandscapes
	url = git@github.com:achubaty/mpbRandomLandscapes
	branch = master
[submodule "modules/mpbManagement"]
	path = modules/mpbManagement
	url = git@github.com:achubaty/mpbManagement
	branch = master
[submodule "mpb-maps"]
	path = mpb-maps
	url = git@github.com:achubaty/mpb-maps
	branch = master
